---
import Websitelogo from "../assets/icons/Union.svg";
import Instagram from "../assets/icons/instagram.svg";
import Facebook from "../assets/icons/facebook.svg";
import Thread from "../assets/icons/thread.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import X from "../assets/icons/x.svg";
---

<footer
    class="bg-fg-1 bg-[image:var(--background-url)] w-full text-neutral-100 overflow-b-hidden overflow-l-hidden"
    style={`--background-url: url('${Websitelogo.src}')`}
>
    <div class="max-w-7xl mx-auto px-6 flex flex-col gap-x-8 z-20">
        <!-- Logos -->
        <div class="w-160 flex items-center justify-start rounded gap-4">
            <Instagram />
            <Facebook />
            <Thread />
            <Linkedin />
            <X />
        </div>

        <!-- Content -->
        <div class="flex flex-col lg:flex-row text-fg-3 z-20">
            <!-- Left -->
            <h2 class="text-5xl font-serif">the french tototte</h2>

            <!-- Right -->
            <div class="flex flex-col text-xs max-w-6xl">
                <!-- Legal links -->
                <div class="flex gap-2">
                    <p>
                        Copyright © 2024 TheFrenchTototte. Tous droits réservés
                    </p>
                    <a href="#" class="hover:underline"
                        >— Utilisation des cookies</a
                    >
                    <a href="#" class="hover:underline">— Mentions légales</a>
                </div>

                <!-- Credits -->
                <p class="leading-relaxed">
                    Sur une idée originale d’Antoine Daniel, concept art par
                    Tera Silver, 3D par Aurélien Thomas, logo par
                    Baloprisonnier, 3D print par Lunath &amp; Packaging par
                    Illusion.
                </p>
            </div>
        </div>
    </div>
</footer>