---

---

<footer class="bg-fg-1">

    <div class="flex flex-col items-start">
      <div>logos</div>
      <div class="flex">
        <h2>the french tototte</h2>
        <div class="flex flex-col">
          <div class="flex">
            <p>Copyright © 2024 TheFrenchTototte. Tous droits réservés</p>
            <a href="#">— Utilisation des cookies</a>
            <a href="#">— Mention légales.</a>
          </div>
          <p>
            Sur une idée originale d’Antoine Daniel, concept art par Tera
            Silver, 3D par Aurélien Thomas, logo par Baloprisonnier, 3D print
            par Lunath & Packaging par Illusion
          </p>
        </div>
      </div>
    </div>
</footer>
