---
import Websitelogo from "../assets/icons/Union.svg"
---

<header>
    <nav class="flex items-center justify-between max-w-7xl mx-auto">
        <Websitelogo />
        <button class="flex bg-fg-1 font-sans text-white px-4">
            Acheter
        </button>
    </nav>
</header>