---
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
import { Font } from 'astro:assets';
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-gustavo" preload />
		<Font cssVariable="--font-tartuffo" preload />
		<title>TheFrenchTototte</title>

		<script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js" defer is:inline></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer is:inline></script>
		
	</head>
	<body class="relative bg-bg-2 max-w-100% overflow-x-hidden">
		
        <Header />
		    <slot />
	</body>
</html>